
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:bisque;
    line-height: 1.6;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header {
    background-color:rgba(220, 66, 66, 0.784);
    font-family:sans-serif;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    
    
}
main{

    display: flex;
    gap: 1.2rem;
    justify-content: center;

    
}





section {
    
    max-width: 500px;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    display: flex;
   
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;

    
}
section h2 {
    font-family:cursive;
    font-style: italic;
     margin-bottom: 1em;
}

section img {
   max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 1em;

}

footer {
    text-align: center;
    width: 100%;
}

